{% extends 'templates/app.twig' %}

{% block content %}


  <div class="container" id="contact">
    <div class="row">
      <div class="content middle">
        <h2>Keep in touch at: <strong>shayanjavadi1375@gmail.com</strong></h2>
        <h5>send me an email about your favorite type of cat</h5>
        <h5>Dog works too. Cats are objectively better though</h5>
      </div>
      </div>

    </div>
  </div>

{% endblock %}
