<footer class="footer-basic-centered">
        <p class="footer-company-name"><strong>Created by Shayan Javadi&copy; 2016 <br><a class="footer-company-name" href="{{path_for('contact')}}">Contact</a></strong> </p>
</footer>
